/* input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}  */
#newOrTitle{
  padding-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  color: #ffc107;
  text-shadow: 0 0 2px black;
}
.buttonEditOr{
  transform: translate(115px, 0px);
}