
.formContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url();
}

form {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 3rem 4rem;
}

.brand {
    width: 25vw;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;

}

img {
    height: 20rem;
    width: 20rem;
}

input {
    background-color: transparent;
    padding: 0.5rem;
    border: 0.1rem solid rgb(175, 160, 27);
    border-radius: 10px;
    color: rgb(198, 180, 22);
    font-size: 1rem;
    width: 100%;
}

input::placeholder {
    color: rgb(175, 160, 27);
    font-weight: bold;
}

input:focus {
    border: 0.1rem solid rgb(255, 230, 0);
    outline: none;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoImg {
    object-fit: cover;
    width: 35vw;
    height: 150px;
    margin-bottom: 2rem;
}

.AccountText {
    font-size: 12px;
    text-align: center;
    /* display: flex; */
}

.CreateAcount {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.lineLogin {
    position: fixed;
    bottom: 60px;
    color: black;
}

/* #eyeIcon {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #ffc107;
} */

.btn {
    padding: 1rem 3rem;
    background-color: rgb(255, 230, 0);
    color: white;
    border: none;
    border-radius: 0.4rem;
}